{% assign skills = site.data.data.skills %} {% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">
    {% for category in skills.categories %}
      <div class="item">
        <!-- Display the category name as a sub-heading -->
        <h3 class="level-title">{{ category.name }}</h3>

        <!-- This div will contain the list of skill tags for the category -->
        <div class="skill-tags">
          {% for skill_item in category.list %}
            <!-- Display each skill_item as a simple tag -->
            <span class="skill-tag">{{ skill_item }}</span>
          {% endfor %}
        </div><!--//skill-tags-->
      </div><!--//item-->
    {% endfor %}
  </div><!--//skillset-->
</section><!--//skills-section-->
{% endif %}